footer#theme-footer {
    a {
        color: #070D1F;
    }
    #action-bar {
        background: rgba($secondary, .3);
    }
    #footer-main {
        .nav-link {
            padding: 0;
            text-decoration: none;
        }
    }
    .navbar-brand img {
        max-height: 100px;
    }
    .address {
        p {
            margin: 0;
        }
    }
}