
header#theme-header{
    $search-bar: false !default;
    @if $search-bar == false {
        #theme-search {
            display: none;
        }
    }
    
    #header-main {
        .nav-link {
            padding: 0;
            text-decoration: underline 5px #FAA042;

    .navbar-brand img {
        max-height: 100px;
    }
}

