.iconlist {
    ul {
        display: flex;
        gap: 0.5rem;
        margin: 0;
        padding: 0;
        list-style-type: none;
        a {
            text-decoration: none;
            font-size: 2rem;
            .text {
                @include visually-hidden;
            }
        }
    }
}