body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.wp-block-embed__wrapper {
    text-align: center;
    position: relative;
}

.container-divider-a {
    width: 80%;
    border: solid 8px orange;
    background-color: orange;
    margin: 0 auto;
    margin-right: 0;
}