body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: $primary;
}

.wp-block-embed__wrapper {
    text-align: center;
    position: relative;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: space-around;
    justify-content: space-between;
}

.navbar-dark .navbar-nav .nav-link {
    color: #070D1F;
  }

.container-divider-a {
    width: 80%;
    border: solid 8px #FAA042;
    background-color: #FAA042;
    margin: 0 auto;
    margin-right: -12px;
}

.wp-block-separator {
    width: 80%;
    border: solid 8px #FAA042;
    background-color: #FAA042;
    margin: 0 auto;
    margin-left: -24px;
    opacity: 1 !important;
}

h5, .h5 {
    font-size: 1.25rem;
    margin-top: 30px;
  }
  
h2 {
    width: 80%;
    margin: 27px auto 27px auto;
}

p {
    width: 80%;
    margin: 27px auto 36px auto;
}  

header.article-head.has-image, header.article-head.has-text {
    background-size: cover;
    background-position: center;
    min-height: 48vh;
  }

  .container,
  .container-fluid,
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .img-thumbnail {
    margin-left: -12px;
    margin-right: -12px;
    padding: 0.25rem;
    background-color: #94b5d6;
    max-width: 103%;
    height: auto;
  }

  .text-align-picture-about {
      text-align: center;
  }