
// Bootstrap overrides
// To see all variables that you can override:
//   docker exec mytheme-compiler cat node_modules/bootstrap/scss/_variables.scss | less
// or to search:
//   docker exec mytheme-compiler cat node_modules/bootstrap/scss/_variables.scss | grep "navbar"

$search-bar: false;

// Theme Pallete
$primary: rgb(148,181,214);
$secondary: rgb(254,255,254);
$nav-hover: #070D1F;

$body-bg: #94b5d6;
$body-color: #111;

// $dark: #3B3836;

$font-family-base: 'Source Sans Pro', sans-serif;

$h1-font-size: 39.81px;
$h2-font-size: 33.18px;
